__pycache__/
*.py[cod]
*.egg-info/
dist/
docs/
build/
tests/catboost_info/
tests/out/
tests/data/
notebooks/pipeline/data/
notebooks/pipeline/out/
notebooks/pipeline/cache/
notebooks/.env
notebooks/cache/
notebooks/research/richie_2025/out/
.ipynb_checkpoints/
.venv/*
venv/*
*catboost_info*
testing.ipynb
check_files_encoding.py
tests/*.csv